<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('../navbar') %>
    <h2>Add New Programmer</h2>
    <form action="/new" method="POST">
        <div class="inputsContainer">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </div>
            
            <div>
                <label for="image">Image URL</label>
                <input type="url" id="image" name="image" placeholder="https://userpic.codeforces.org/422/title/50a270ed4a722867.jpg">
            </div>
            <div>
                <label for="contribution">Contributions</label>
                <select name="contribution" id="contribution"  multiple>
                    <%contributions.map(ele => {%>
                        <option value="<%= ele.contribution %>"><%= ele.contribution %></option>
                    <%});%>
                </select>
            </div>
            
            <div>
                <label for="maxRating">Title</label>
                <select name="maxRating" id="maxRating">
                    <%maxRatings.map(ele => {%>
                        <option value="<%= ele.maxrating %>"><%= ele.maxrating %></option>
                    <%});%>
                </select>
            </div>
        </div>

        <div class="buttonContainer"><button type="submit" class="AddButton">Add</button></div>
    </form>
    <%- include('../footer') %>
</body>
</html>

