<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
        <h2>Competitive Programmers</h2>
        <a href="/new">
            <div class="buttonContainer"><button class="addButton">Add Programmer</button></div>
        </a>

        <div class="programmersContainer">
            <%programmers.map(user => {%>
                <div class="programmer">
                    <div class="editdeleteContainer">
                        <a href="/<%= user.programmer_id %>/update"><button type="submit"><i class="fas fa-sync"></i></button></a>
                        <form action="/<%= user.programmer_id %>/delete" method="POST" id="deleteForm-<%= user.programmer_id %>">
                            <button type="button" onclick="submitWithPrompt('<%= user.programmer_id %>')"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    <p class="programmerName"><%=user.programmer%></p>
                    <img src="<%= user.imageurl %>" alt="" class="profileImage">
                    <div class="tagContainer">
                        <div class="contributionTag">
                            <h4>Contribution</h4>
                            <%user.contributionArray.map(object => {%>
                               <a href="/programmers/contribution/<%= object.contribution %>"><button class="tagButton"><%= object.contribution %></button></a>
                            <%});%>
                        </div>
                        <div class="ratingTag">
                            <h4>Max Rating</h4>
                            <a href="/programmers/maxrating/<%= user.maxrating %>"><button class="tagButton"><%= user.maxrating %></button></a>
                        </div>
                    </div>
                </div>
            <%});%>
        </div>  
    <%- include('footer') %>
    <script>
        function submitWithPrompt(programmerId) {
            const password = prompt('Please enter the password:');
            if (password === null) return; 
            const form = document.getElementById(`deleteForm-${programmerId}`);
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'password';
            hiddenInput.value = password;
            
            form.appendChild(hiddenInput);
            form.submit();
        }
    </script>
</body>
</html>