<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
        <h2>Competitive Programmers</h2>
        <form action="/new" method="GET">
            <button>Add Programmer</button>
        </form>

        <%programmers.map(user => {%>
            <div class="programmer">
                <%=user.programmer%>
                <h4>Contribution</h4>
                <%user.contributionArray.map(object => {%>
                   <p><%= object.contribution %></p> 
                <%});%>
                <h4>Max Rating</h4>
                <p><%= user.maxrating %></p>
                <form action="/<%= user.programmer_id %>/update" method="GET">
                    <button type="submit">update</button>
                </form>
                <form action="/<%= user.programmer_id %>/delete" method="POST">
                    <button type="submit">delete</button>
                </form>
            </div>
        <%});%>
    <%- include('footer') %>
</body>
</html>