<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
        <h2>Contribution</h2>
        <form action="/contribution/new" method="GET">
            <div class="buttonContainer"><button class="addButton">Add contribution</button></div>
        </form>

        <div class="categoriesContainer">
            <%contributions.map(contribution => {%>
                <div class="categoryContainer">
                    <%=contribution.contribution%>
                    <div class="manipulateButtons">
                        <a href="/contribution/<%= contribution.contribution_id %>/update"><button type="submit"><i class="fas fa-sync"></i></button></a>
                        
                        <form action="/contribution/<%= contribution.contribution_id %>/delete" method="POST" style="display: inline;" id="deleteForm-<%= contribution.contribution_id %>">
                            <button type="button" onclick="submitWithPrompt('<%= contribution.contribution_id %>')"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
            <%});%>
        </div>
    <%- include('footer') %>
    <script>
        function submitWithPrompt(contributionId) {
            const password = prompt('Please enter the password:');
            if (password === null) return; 
            const form = document.getElementById(`deleteForm-${contributionId}`);
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'password';
            hiddenInput.value = password;
            
            form.appendChild(hiddenInput);
            form.submit();
        }
    </script>
</body>
</html>