<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
        <h2>Max Rating</h2>
        <form action="/maxRating/new" method="GET">
            <button>Add Title</button>
        </form>

        <%maxRatings.map(rating => {%>
            <div>
                <%=rating.maxrating%>
                <form action="/maxRating/<%= rating.maxrating_id %>/update" method="GET">
                    <button type="submit">update</button>
                </form>
                <form action="/maxRating/<%= rating.maxrating_id %>/delete" method="POST" style="display: inline;">
                    <button type="submit">delete</button>
                </form>
            </div>
        <%});%>
    <%- include('footer') %>
</body>
</html>