<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <form action="/maxRating/<%= id %>/update" method="POST">
        <div class="inputsContainer">
            <div>
                <label for="updateTitle">Title</label>
                <input type="text" id="updateTitle" name="updateTitle" value="<%= ratingAtId %>">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
        </div>

        <div class="buttonContainer"><button type="submit" class="AddButton">Update</button></div>
    </form>
    <%- include('footer') %>
</body>
</html>