<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <form action="/contribution/<%= id %>/update" method="POST">
        <label for="updateContribution">Contribution</label>
        <input type="text" id="updateContribution" name="updateContribution" value="<%= contributionAtId %>">
        <button type="submit">update</button>
    </form>
    <%- include('footer') %>
</body>
</html>