<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('../navbar') %>
    <form action="/contribution/<%= id %>/update" method="POST">
        <div class="inputsContainer">
            <div>
                <label for="updateContribution">Contribution</label>
                <input type="text" id="updateContribution" name="updateContribution" value="<%= contributionAtId %>">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
        </div>
        <div class="buttonContainer"><button type="submit" class="AddButton">Update</button></div>
    </form>
    <%- include('../footer') %>
</body>
</html>